.panel {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: block !important;
}

.options {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 12px !important;
    box-sizing: border-box !important;
}

.options ha-textfield,
.options ha-select {
    display: block !important;
    width: 100% !important;
    margin-bottom: 0 !important;
}

.due-date-color-row{
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
    margin-bottom: 0 !important;
}

.entity-row{
    display: flex !important;
    align-items: center !important; 
    margin-bottom: 0 !important;
}

.entity-row ha-entity-picker{
    flex-grow: 1 !important; 
    margin-right: 8px !important;
}

.switches-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px !important;
}

.add-button {
    display: flex !important;
    justify-content: center !important;
}

.due-date-color-row .operator {
    width: 100px !important;
}

.due-date-color-row .days {
    width: 80px !important;
}

.due-date-color-row .color {
    flex-grow: 1 !important;
}

.due-date-colors {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 12px !important;
    box-sizing: border-box !important;
}

.entities-list {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 12px !important;
    box-sizing: border-box !important;
}