.options {
    margin-bottom: 24px !important;
}

.options ha-textfield {
    display: block !important;
    width: 100% !important;
    margin-bottom: 8px !important;
}

.due-date-color-row{
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
    margin-bottom: 8px !important;
}

.entity-row{
    display: flex !important;
    align-items: center !important; 
    margin-bottom: 8px !important;
}

.entity-row ha-entity-picker{
    flex-grow: 1 !important; 
    margin-right: 8px !important;
}

.switches-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px !important;
}

.add-button {
    display: flex !important;
    justify-content: center !important;
}